@model IndividualCollectionsWeb.Models.Item

@{
    ViewBag.Title = "Создать айтем";
}

<h2>Создать айтем</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AddingTime)

        <div class="form-group">
            @Html.LabelFor(model => model.CollectionId, "CollectionId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CollectionId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CollectionId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (ViewBag.Collection.IsNumerical1Enabled)
        {
        <div class="form-group">
            <label class = "control-label col-md-2">@ViewBag.Collection.Numerical1Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numerical1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Numerical1, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Numerical1)
        }

        @if (ViewBag.Collection.IsNumerical2Enabled)
        {
        <div class="form-group">
             <label class = "control-label col-md-2">@ViewBag.Collection.Numerical2Title</label>
             <div class="col-md-10">
                 @Html.EditorFor(model => model.Numerical2, new { htmlAttributes = new { @class = "form-control" } })
                 @Html.ValidationMessageFor(model => model.Numerical2, "", new { @class = "text-danger" })
             </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Numerical2)
        }

        @if (ViewBag.Collection.IsNumerical3Enabled)
        {
        <div class="form-group">
            <label class = "control-label col-md-2">@ViewBag.Collection.Numerical3Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numerical3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Numerical3, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Numerical3)
        }

        @if (ViewBag.Collection.IsString1Enabled)
        {
        <div class="form-group">
            <label class = "control-label col-md-2">@ViewBag.Collection.String1Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.String1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.String1, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.String1)
        }

        @if (ViewBag.Collection.IsString2Enabled)
        {
        <div class="form-group">
            <label class = "control-label col-md-2">@ViewBag.Collection.String2Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.String2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.String2, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.String2)
        }

        @if (ViewBag.Collection.IsString3Enabled)
        {
        <div class="form-group">
            <label class = "control-label col-md-2">@ViewBag.Collection.String3Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.String3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.String3, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.String3)
        }

        @if (ViewBag.Collection.IsText1Enabled)
        {
        <div class="form-group">
            <label class="control-label col-md-2">@ViewBag.Collection.Text1Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text1, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Text1)
        }

        @if (ViewBag.Collection.IsText2Enabled)
        {
        <div class="form-group">
            <label class="control-label col-md-2">@ViewBag.Collection.Text2Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text2, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Text2)
        }

        @if (ViewBag.Collection.IsText3Enabled)
        {
        <div class="form-group">
            <label class="control-label col-md-2">@ViewBag.Collection.Text3Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text3, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Text3)
        }

        @if (ViewBag.Collection.IsDate1Enabled)
        {
        <div class="form-group">
            <label class="control-label col-md-2">@ViewBag.Collection.Date1Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date1, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Date1)
        }

        @if (ViewBag.Collection.IsDate2Enabled)
        {
        <div class="form-group">
            <label class="control-label col-md-2">@ViewBag.Collection.Date2Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date2, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Date2)
        }

        @if (ViewBag.Collection.IsDate3Enabled)
        {
        <div class="form-group">
            <label class="control-label col-md-2">@ViewBag.Collection.Date3Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date3, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Date3)
        }

        @if (ViewBag.Collection.IsBoolean1Enabled)
        {
        <div class="form-group">
            <label class="control-label col-md-2">@ViewBag.Collection.Boolean1Title</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Boolean1)
                    @Html.ValidationMessageFor(model => model.Boolean1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Boolean1)
        }

        @if (ViewBag.Collection.IsBoolean2Enabled)
        {
        <div class="form-group">
            <label class="control-label col-md-2">@ViewBag.Collection.Boolean2Title</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Boolean2)
                    @Html.ValidationMessageFor(model => model.Boolean2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Boolean2)
        }

        @if (ViewBag.Collection.IsBoolean3Enabled)
        {
        <div class="form-group">
            <label class="control-label col-md-2">@ViewBag.Collection.Boolean3Title</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Boolean3)
                    @Html.ValidationMessageFor(model => model.Boolean3, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Boolean3)
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
