@model IEnumerable<IndividualCollectionsWeb.Models.Collection>

@{
    ViewBag.Title = "Index";
}

<h2>Коллекции @User.Identity.Name</h2>

<br />
<p>
    @Html.ActionLink("Создать коллекцию", "CreateCollection")
</p>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="collection" style="border: 1pt solid #cccccc;">
            <a href="~/User/Collection/@item.Id">
                <div>
                    @if (item.Title != null)
                    {
                        <h3>@item.Title</h3>
                    }
                    @if (item.Description != null)
                    {
                        <p>
                            @item.Description
                        </p>
                    }
                    @if (item.Theme != null && item.Theme.Title != null)
                    {
                        <h3>
                            @item.Theme.Title
                        </h3>
                    }
                </div>
            </a>
        </div>
        @Html.ActionLink("Редактировать", "EditCollection", new { id = item.Id })
        <span>&nbsp; | &nbsp;</span>
        @Html.ActionLink("Подробности коллекции", "DetailsCollection", new { id = item.Id })
        <span>&nbsp; | &nbsp;</span>
        @Html.ActionLink("Удалить коллекцию", "DeleteCollection", new { id = item.Id })
    }
}
